html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

#rightPanel{
    height: 100%;
    width: 20%;
    margin: 0px;
    float: left;
}

#map{
    height: 100%;
    width: 80%;
    padding: 0;
    margin: 0;
    float: left;
}

#rightPanel ul{
    margin-top: 5px;
}

#left_layerInfo{
    height: 200px;
    width: 200px;
    position: relative;
    left: 20px;
    bottom: 10px;
}